@use "mixins";

#aboutus {
  width: 100%;
  height: 100vh;
  background-color: $bg-segondary;
  @include mixins.flex;
  justify-content: center;

  .aboutus {
    @include mixins.flex;
    @include mixins.container;
    justify-content: center;
    column-gap: 52px;

    .div1 {
      width: 100%;

      h2 {
        color: $gray-color-darken;
        @include mixins.titlesection;
        display: none;
      }

      div {
        width: 390px;
        left: -5px;
        @include mixins.yellowmargin;
        display: none;
      }
    }

    .div2 {
      width: 100%;

      div {
        width: 390px;
        left: -5px;
        @include mixins.yellowmargin;
      }

      h2 {
        color: $gray-color-darken;
        @include mixins.titlesection;
      }

      p {
        color: $gray-color-darken;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 150%;
        font-family: $font-body;
      }
    }
  }
}

@include responsive(s) {
  #aboutus {
    height: 100%;
    padding-bottom: 100px;
  }

  .aboutus {
    flex-direction: column;

    .div1 {
      h2,
      div {
        display: block !important;
      }

      img {
        padding-bottom: 50px;
      }
    }

    .div2 {
      h2,
      div {
        display: none;
      }
    }
  }
}
