@use "mixins";

#hero {
  @include mixins.container;
  margin-top: 6%;
  justify-content: space-between;
  width: 100%;
  height: 100vh;

  .hero {
    @include mixins.flex;
    justify-content: space-around;

    .div1 {
      .background-hero1 {
        margin-top: 6%;

        position: absolute;
        width: 630px;
        height: 652px;
        left: 290px;
        top: 74px;
        // background-image:  linear-gradient(#181818fd, #18181877), url(../img/bg-img-hero.svg);
        border: none;
        z-index: -1;
      }

      h1 {
        width: 607px;
        height: 210px;
        color: $white-color;
        font-style: normal;
        font-weight: 600;
        font-size: 64px;
        line-height: 110%;
        margin-bottom: 32px;
      }

      p {
        width: 607px;
        height: 90px;
        color: $gray-color;
        font-family: $font-body;
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 150%;
        margin-bottom: 48px;
      }

      .buttons-hero {
        @include mixins.flex;
        column-gap: 40px;

        button:first-of-type {
          background-color: $primary;
          border-radius: 6px;
          color: $gray-color-darken;
          padding: 10px 21px;
          font-family: $font-title;
          font-style: normal;
          text-transform: uppercase;
          font-weight: 600;
          font-size: 18px;
          line-height: 150%;
        }

        button:last-of-type {
          background-color: transparent;
          border-radius: 6px;
          border: 1px solid $primary;
          color: $primary;
          padding: 10px 55px;
          font-family: $font-title;
          font-style: normal;
          text-transform: uppercase;
          font-weight: 600;
          font-size: 18px;
          line-height: 150%;
        }
      }
    }

    .div2 {
      .background-hero-2 {
        position: absolute;
        width: 637px;
        height: 637px;
        left: 625px;
        top: 226px;
        background: $primary;
        opacity: 0.09;
        filter: blur(50px);
        border-radius: 6px;
        transform: rotate(20deg);
        z-index: -1;
      }
    }
  }
}
