@use "mixins";

#hero {
  width: 100%;
  height: 100vh;
  @include mixins.flex;
  justify-content: center;

  .hero {
    @include mixins.flex;
    @include mixins.container;
    justify-content: space-between;
    column-gap: 72px;

    .div1 {
      width: 100%;

      /* .background-hero1 {
        margin-top: 6%;
        display: none;
        position: absolute;
        width: 630px;
        height: 652px;
        left: 290px;
        top: 74px;
        // background-image:  linear-gradient(#181818fd, #18181877), url(../img/bg-img-hero.svg);
        border: none;
        z-index: -1;
      } */

      h1 {
        color: $white-color;
        font-style: normal;
        font-weight: 600;
        font-size: 64px;
        line-height: 110%;
      }

      p {
        width: 607px;
        color: $gray-color;
        font-family: $font-body;
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 150%;
        margin-bottom: 48px;
        margin-top: 32px;
      }

      .buttons-hero {
        @include mixins.flex;
        column-gap: 40px;

        button:first-of-type {
          background-color: $primary;
          border-radius: 6px;
          color: $gray-color-darken;
          padding: 10px 21px;
          font-family: $font-title;
          font-style: normal;
          text-transform: uppercase;
          font-weight: 600;
          font-size: 18px;
          line-height: 150%;
          cursor: pointer;
          transition: 0.5s;

          &:hover {
            background-color: #dbae25;
          }
        }

        button:last-of-type {
          background-color: transparent;
          border-radius: 6px;
          border: 1px solid $primary;
          color: $primary;
          padding: 10px 55px;
          font-family: $font-title;
          font-style: normal;
          text-transform: uppercase;
          font-weight: 600;
          font-size: 18px;
          line-height: 150%;
          cursor: pointer;
          transition: 0.5s;

          &:hover {
            background-color: $primary;
            border: 1px solid $primary;
            color: $gray-color-darken;
          }
        }
      }
    }

    .div2 {
      width: 100%;

      .background-hero-2 {
        position: absolute;
        width: 45%;
        height: 65%;
        left: 50%;
        top: 25%;
        background: $primary;
        opacity: 0.09;
        filter: blur(50px);
        border-radius: 6px;
        transform: rotate(-20deg);
        z-index: -1;
      }
    }
  }
}

@include responsive(s) {
  .hero {
    display: block !important;

    .div1 {
      h1 {
        width: 100%;
      }

      p {
        width: 100% !important;
        margin-bottom: 38px !important;
        margin-top: 30px !important;
      }
    }
    .div2 {
      img {
        display: none;
      }

      .background-hero-2 {
        top: 20% !important;
        left: 30% !important;
        transform: rotate(0deg) !important;
      }
    }
  }
}

@include responsive(xs) {
  .hero {
    .div1 {
      h1 {
        font-size: 50px !important;
      }

      p {
        font-size: 18px !important;
        width: 100% !important;
        margin-bottom: 38px !important;
        margin-top: 30px !important;
      }

      .buttons-hero {
        button:first-of-type {
          padding: 10px 21px !important;
          font-size: 15px !important;
        }
        button:last-of-type {
          display: none;
        }
      }
    }
  }
}
