@use "mixins";

#location {
  width: 100%;
  height: 100vh;
  background-color: $bg-default;
  @include mixins.flex;
  @include mixins.container;
  justify-content: center;
  flex-direction: column;

  h2 {
    color: $primary;
    font-family: $font-title;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    padding-top: 100px;
    margin-bottom: 50px;
  }

  .margin {
    width: 390px;
    height: 14px;
    position: relative;
    top: -68px;
    background: $primary;
    opacity: 0.6;
    border-radius: 6px;
  }

  .location {
    
    width: 100%;
    padding: 0 70px;

  }
}