@use "mixins";

#team {
  width: 100%;
  height: 100vh;
  background-color: $bg-segondary;
  @include mixins.flex;
  justify-content: center;
  flex-direction: column;

  h2 {
    color: $gray-color-darken;
    @include mixins.titlesection;
  }

  .margin {
    width: 400px;
    @include mixins.yellowmargin;
  }

  .team {
    @include mixins.flex;
    justify-content: center;
  }

  .card-member {
    display: flex;
    column-gap: 2rem;
    padding-bottom: 50px;

    .member {
      height: 350px;

      img {
        object-fit: contain;
        cursor: pointer;
      }

      h3 {
        color: #333;
        font-family: $font-title;
        font-size: 24px;
        font-weight: 600;
        margin-top: 20px;
      }

      p {
        color: #333;
        font-family: $font-body;
        font-size: 20px;
        font-weight: 500;
      }
    }
  }
}

@include responsive(s) {
  #team {
    height: 100%;
    padding-bottom: 100px;
  }

  .card-member {
    flex-direction: column;
    row-gap: 4rem;
    padding-bottom: 50px;
  }

  .member {
    width: 100%;
  }
}
