/******* GOOGLE FONTS *******/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Nunito:wght@300;400;500&display=swap");

/******* VARIAVEIS *******/

// Colors
$primary: #f5cd54;
$primary-darken: #d4b559;

$bg-default: #181818;
$bg-segondary: #ede8d5;

$white-color: #f2f2f2;
$black-color: #000000;
$gray-color: #8e8e8e;
$gray-color-darken: #222222;
$base-card: #202020;
$border-title: #504a36;

// Fonts
$font-title: "Montserrat";
$font-body: "Nunito";

// Fonts Sizes
$title-xl: 3rem;
$title-l: 2rem;
$title-m: 1.5rem;
$title-s: 1.2rem;
$text-l: 1.25rem;
$text-m: 1rem;
$text-s: 0.875rem;
$text-sm: 0.75rem;

// Containers
$container-xl: 1440px;
$container-l: 1140px;
$container-m: 960px;
$container-s: 540px;
