/******* GOOGLE FONTS *******/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Nunito:wght@300;400;500&display=swap");
/******* VARIAVEIS *******/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito";
}

body {
  font-family: "Nunito";
  background-color: #181818;
}

::selection {
  background-color: #F5CD54;
  color: #222222;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: #181818;
}

::-webkit-scrollbar-thumb {
  background-color: #F5CD54;
  border-radius: 5px;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button,
input {
  border: 0;
  font-family: "Nunito";
}
button:focus,
input:focus {
  border: 0;
}

header {
  display: flex;
  align-items: center;
  padding: 1.5% 10%;
  flex-direction: row;
  justify-content: space-between;
  background-color: #121212;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
header nav {
  display: flex;
  align-items: center;
}
header nav img {
  cursor: pointer;
}
header nav ul {
  display: flex;
  align-items: center;
  width: 644px;
  margin-left: 50px;
  column-gap: 28px;
}
header nav ul .active {
  color: #F2F2F2;
}
header nav ul li a {
  color: #8E8E8E;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  transition: all 0.25s ease-in-out;
}
header nav ul li a:hover {
  color: #F2F2F2;
}
header button {
  background-color: #F5CD54;
  color: #222222;
  width: 152px;
  height: 44px;
  border-radius: 4px;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  text-transform: uppercase;
  cursor: pointer;
}

.btn-open {
  position: absolute;
  padding: 4px 12px;
  border: none;
  border-radius: 3px;
  margin-right: 10%;
  margin-top: -44px;
  right: 20px;
  display: none;
  background-color: #121212;
  color: #F5CD54;
  font-size: 1.4rem;
}

.btn-close {
  position: absolute;
  padding: 4.5px 12px;
  border: none;
  border-radius: 3px;
  margin-right: 10%;
  margin-top: -44px;
  right: 20px;
  display: none;
  background-color: #121212;
  color: #F5CD54;
  font-size: 1.5rem;
}

.sidenav {
  display: none;
  width: 100%;
  padding: 20px 10%;
  background-color: #121212;
  position: absolute;
  top: 48px;
  left: -60vh;
  transition: 0.5s;
}
.sidenav ul {
  row-gap: 28px;
  margin-bottom: 20px;
}
.sidenav ul .active {
  color: #F2F2F2;
}
.sidenav ul li a {
  color: #8E8E8E;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  transition: all 0.25s ease-in-out;
}
.sidenav button {
  background-color: #F5CD54;
  color: #222222;
  width: 152px;
  height: 44px;
  border-radius: 4px;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  text-transform: uppercase;
  cursor: pointer;
}

@media screen and (max-width: 960px) {
  header nav ul {
    display: none;
  }
  header button {
    display: none;
  }
  .btn-open {
    display: block;
  }
  .btn-open:focus ~ .btn-close {
    display: block;
  }
  .btn-open:focus ~ .btn-close .btn-open {
    display: none;
  }
  .btn-open:focus ~ .sidenav {
    display: block;
    left: 0;
  }
}
#hero {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#hero .hero {
  display: flex;
  align-items: center;
  padding: 1.5% 10%;
  justify-content: space-between;
  column-gap: 72px;
}
#hero .hero .div1 {
  width: 100%;
  /* .background-hero1 {
    margin-top: 6%;
    display: none;
    position: absolute;
    width: 630px;
    height: 652px;
    left: 290px;
    top: 74px;
    // background-image:  linear-gradient(#181818fd, #18181877), url(../img/bg-img-hero.svg);
    border: none;
    z-index: -1;
  } */
}
#hero .hero .div1 h1 {
  color: #F2F2F2;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 110%;
}
#hero .hero .div1 p {
  width: 607px;
  color: #8E8E8E;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 48px;
  margin-top: 32px;
}
#hero .hero .div1 .buttons-hero {
  display: flex;
  align-items: center;
  column-gap: 40px;
}
#hero .hero .div1 .buttons-hero button:first-of-type {
  background-color: #F5CD54;
  border-radius: 6px;
  color: #222222;
  padding: 10px 21px;
  font-family: "Montserrat";
  font-style: normal;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  cursor: pointer;
  transition: 0.5s;
}
#hero .hero .div1 .buttons-hero button:first-of-type:hover {
  background-color: #dbae25;
}
#hero .hero .div1 .buttons-hero button:last-of-type {
  background-color: transparent;
  border-radius: 6px;
  border: 1px solid #F5CD54;
  color: #F5CD54;
  padding: 10px 55px;
  font-family: "Montserrat";
  font-style: normal;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  cursor: pointer;
  transition: 0.5s;
}
#hero .hero .div2 {
  width: 100%;
}
#hero .hero .div2 .background-hero-2 {
  position: absolute;
  width: 45%;
  height: 65%;
  left: 50%;
  top: 25%;
  background: #F5CD54;
  opacity: 0.09;
  filter: blur(50px);
  border-radius: 6px;
  transform: rotate(-20deg);
  z-index: -1;
}

@media screen and (max-width: 960px) {
  .hero {
    display: block !important;
  }
  .hero .div1 h1 {
    width: 100%;
  }
  .hero .div1 p {
    width: 100% !important;
    margin-bottom: 38px !important;
    margin-top: 30px !important;
  }
  .hero .div2 img {
    display: none;
  }
  .hero .div2 .background-hero-2 {
    top: 20% !important;
    left: 30% !important;
    transform: rotate(0deg) !important;
  }
}
@media screen and (max-width: 540px) {
  .hero .div1 h1 {
    font-size: 50px !important;
  }
  .hero .div1 p {
    font-size: 18px !important;
    width: 100% !important;
    margin-bottom: 38px !important;
    margin-top: 30px !important;
  }
  .hero .div1 .buttons-hero button:first-of-type {
    padding: 10px 21px !important;
    font-size: 15px !important;
  }
  .hero .div1 .buttons-hero button:last-of-type {
    display: none;
  }
}
#aboutus {
  width: 100%;
  height: 100vh;
  background-color: #EDE8D5;
  display: flex;
  align-items: center;
  justify-content: center;
}
#aboutus .aboutus {
  display: flex;
  align-items: center;
  padding: 1.5% 10%;
  justify-content: center;
  column-gap: 52px;
}
#aboutus .aboutus .div1 {
  width: 100%;
}
#aboutus .aboutus .div2 {
  width: 100%;
}
#aboutus .aboutus .div2 div {
  width: 390px;
  left: -5px;
  height: 14px;
  position: relative;
  top: -68px;
  background: #f5cd54;
  opacity: 0.6;
  border-radius: 6px;
}
#aboutus .aboutus .div2 h2 {
  color: #222222;
  font-family: "Montserrat";
  text-transform: uppercase;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  margin-bottom: 48px;
}
#aboutus .aboutus .div2 p {
  color: #222222;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  font-family: "Nunito";
}

#galery {
  width: 100%;
  height: 100vh;
  background-color: #181818;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 1.5% 10%;
  flex-direction: column;
}
#galery h2 {
  color: #F5CD54;
  font-family: "Montserrat";
  text-transform: uppercase;
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  margin-bottom: 50px;
}
#galery .margin {
  width: 230px;
  height: 14px;
  position: relative;
  top: -68px;
  background: #D4B559;
  opacity: 0.6;
  border-radius: 6px;
  z-index: 1;
}
#galery .galery {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
#galery .galery div img {
  cursor: pointer;
  transition: all 0.5s;
  opacity: 0.8;
}
#galery .galery div img:hover {
  opacity: 1;
}
#galery .galery div img:hover {
  transform: scale(1.1);
}
#galery .card-member {
  display: flex;
  column-gap: 2rem;
  padding-bottom: 50px;
}
#galery .card-member .member {
  height: 350px;
}
#galery .card-member .member img {
  object-fit: contain;
  cursor: pointer;
}
#galery .card-member .member h3 {
  color: #333;
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 600;
  margin-top: 20px;
}
#galery .card-member .member p {
  color: #333;
  font-family: "Nunito";
  font-size: 20px;
  font-weight: 500;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.911);
  z-index: 1111;
}

.modal-content {
  margin: auto;
  width: 550px;
  height: 500px;
  object-fit: cover;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

#team {
  width: 100%;
  height: 100vh;
  background-color: #EDE8D5;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#team h2 {
  color: #222222;
  font-family: "Montserrat";
  text-transform: uppercase;
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  margin-bottom: 50px;
}
#team .margin {
  width: 400px;
  height: 14px;
  position: relative;
  top: -68px;
  background: #F5CD54;
  opacity: 0.6;
  border-radius: 6px;
  z-index: 1;
}
#team .team {
  display: flex;
  align-items: center;
  justify-content: center;
}
#team .card-member {
  display: flex;
  column-gap: 2rem;
  padding-bottom: 50px;
}
#team .card-member .member {
  height: 350px;
}
#team .card-member .member img {
  object-fit: contain;
  cursor: pointer;
}
#team .card-member .member h3 {
  color: #333;
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 600;
  margin-top: 20px;
}
#team .card-member .member p {
  color: #333;
  font-family: "Nunito";
  font-size: 20px;
  font-weight: 500;
}

#location {
  width: 100%;
  height: 100vh;
  background-color: #181818;
  display: flex;
  align-items: center;
  padding: 1.5% 10%;
  justify-content: center;
  flex-direction: column;
}
#location h2 {
  color: #F5CD54;
  font-family: "Montserrat";
  text-transform: uppercase;
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  padding-top: 100px;
  margin-bottom: 50px;
}
#location .margin {
  width: 390px;
  height: 14px;
  position: relative;
  top: -68px;
  background: #F5CD54;
  opacity: 0.6;
  border-radius: 6px;
}
#location .location {
  width: 100%;
  padding: 0 70px;
}

#agendar {
  width: 100%;
  height: 100vh;
  background-color: #181818;
  display: flex;
  align-items: center;
  padding: 1.5% 10%;
  justify-content: center;
  flex-direction: column;
}
#agendar h2 {
  color: #F5CD54;
  font-family: "Montserrat";
  text-transform: uppercase;
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  margin-bottom: 50px;
}
#agendar .margin {
  width: 290px;
  height: 14px;
  position: relative;
  top: -68px;
  background: #F5CD54;
  opacity: 0.6;
  border-radius: 6px;
}
#agendar form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 700px;
}
#agendar form div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
}
#agendar form div input {
  width: 100%;
  background-color: transparent;
  border: 2.2px solid #8E8E8E;
  border-radius: 6px;
  height: 50px;
  outline: none;
  padding: 10px 16px;
  color: #EDE8D5;
  font-size: 18px;
  font-weight: 400;
}
#agendar form div button {
  width: 100%;
  background-color: #F5CD54;
  color: #181818;
  margin-top: 20px;
  font-size: 18px;
  padding: 10px 16px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.5s;
}
#agendar form div button:hover {
  background-color: #dbae25;
}

footer {
  width: 100%;
  background-color: #EDE8D5;
}
footer h3 {
  margin-bottom: 1rem;
}
footer p {
  font-size: 1.125rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}
footer section {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 5rem 1.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}
footer .info > div {
  margin-bottom: 1.5rem;
}
footer .footer {
  display: flex;
  justify-content: center;
  padding: 2.125rem;
  background-color: #F5CD54;
  text-align: center;
}

@media screen and (max-width: 540px) {
  footer section {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: none;
    gap: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
